.heading {
    margin: 100px;
    margin-left: 200px;
    font-size: 5rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.imag1 {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translateX(-55%) translateY(-30%);
    height: 500px;
    width: 500px;

}
.para1{
    
    padding:10px 195px;
   margin-top: -70px;
    

}


  
  .my-button{
  display: flex;
  margin-left: 400px;
  margin-top: -43px;
    padding: 10px 40px; /* Adjust padding as needed */
    background-color: #ff0000; /* Button background color */
    color: #fff; /* Text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Add pointer cursor on hover */
  }
  .my-buttons{
  display: flex;
  margin-top: 10px;
    margin-left: 200px;
    
   
      padding: 10px 37px;
      background-color: #007bff;
      color: #fff; 
      border: none;
      cursor: pointer;
    }
    .img3{
      position: absolute;
      top: 40%;
      left: 102%;
      transform: translateX(-59%) translateY(66%);
  

    }
    .img4{
      position: absolute;
      top: 60%;
      left: 72%;
      transform: translateX(-29%) translateY(10%);

    }
    .foot{
     
     padding-left: 200px;
     padding-top: 10px;
    }
    
